* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px grey;
    border-bottom: #666 !important;
}

.nav-link {
    font-weight: 300 !important;
}

.active {
    border-bottom: 1px solid #000;
}

.navbar-brand {
    font-weight: 700;
    letter-spacing: 3px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/****************footer*******************/
.footer {
    color: white;
    padding: 25px;
    background: #000;
    background: -webkit-radial-gradient(#666, black);
}

.footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

.footer a:hover {
    color: #ffefba;
    border-bottom: 1px solid wheat;
}

/**********page not found***********/
.pnf {
    display: flex;
    min-height: 65px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}


  .pnf_btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #eaeaea;
    color: #333;
    text-decoration: none;
  
}

.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


